@page "/goals"
@using Achiever.Client.Services.Goals
@using Achiever.Shared.Goals
@inject GoalClient GoalClient
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IToastService ToastService

<PageTitle>Goals</PageTitle>

<FluentToolbar Class="p-2" Style="margin-bottom:1rem;border-radius:0.25rem;width:-webkit-fill-available;" id="toolbar-fluent-components">
    <h1>Goals</h1>
    <FluentSpacer />
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Trophy())" OnClick="CreateGoal" Disabled="@(_goals == null)">Create Goal</FluentButton>
</FluentToolbar>

@if (_goals == null)
{
    <p><em>Loading...</em></p>
}
else
{
       <FluentGrid Spacing="10">
        @foreach (var goal in _goals)
        {
            <FluentGridItem>
                <GoalCard Goal="@goal" OnGoalDelete="OnDeleteGoal" OnGoalEdit="OnEditGoal" />
            </FluentGridItem>
        }
    </FluentGrid>
}

@code {
    private List<Goal>? _goals;

    protected override async Task OnInitializedAsync()
    {
        var result = await GoalClient.GetGoalsAsync();

        if(result.IsSuccess)
        {
            _goals = result.Value;
        }
        else
        {
            ToastService.ShowError($"Error retrieving goals: {result?.Message ?? "Unknown Error"}");
            _goals = new List<Goal>();
        }
    }

    protected async Task CreateGoal()
    {
        var goal = new Goal {
            Title = "New Goal" 
        };
        var result = await GoalClient.CreateGoalAsync(goal);
        if(result.IsSuccess)
        {
            goal.Id = result.Value;
            _goals.Add(goal);
        }
        else
        {
            ToastService.ShowError($"Error creating goal: {result?.Message ?? "Unknown Error"}");
        }
        StateHasChanged();
    }

    protected void OnEditGoal(Goal goal)
    {
        NavigationManager.NavigateTo($"goals/{goal.Id}");
    }

    protected async Task OnDeleteGoal(Goal goal)
    {
        var dialog = await DialogService.ShowConfirmationAsync("Do you really want to delete this goal?", "Delete", "Cancel", goal.Title);
        var dialogResult = await dialog.Result;

        if (dialogResult.Cancelled)
        {
            await Task.CompletedTask;
            return;
        }

        var result = await GoalClient.DeleteGoalAsync(goal.Id.Value);

        if(!result.IsSuccess || !(result.Value ?? true))
        {
            ToastService.ShowError($"Error deleting goal: {goal.Title}");
        }
        else
        {
            ToastService.ShowSuccess($"Successfully deleted goal: {goal.Title}");
            _goals?.Remove(goal);
        }

        StateHasChanged();
    }
}
